html,
body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

h1 {
  color: white;
}

div#game {
  background-color: white;
  display: inline-block;
}

div#player {
  display: inline-block;
}