@import '../style.global.scss';

div.Games {
    padding: 0px $padding;
    > ul {
        padding: 0px;
        display: grid;
        list-style: none;
        grid-template-columns: repeat(4,1fr);
        > a {
            text-decoration: none;
            color: $black;
            > li {
                padding-bottom: $padding;
                > div {
                    width: 200px;
                    height: 200px;
                    background-color: $grey;
                }
                > p {
                    margin: 5px 0px;
                }
                > p:nth-child(2) {
                    font-weight: bold;
                }
            }
        } 
    }
}

@media only screen and (max-device-width: 480px) {
    div.Games {
        
    }
}