@import '../style.global.scss';

div.Maps {
    display: grid;
    grid-template-rows: 55px 1fr;

    >div:first-child {
        background-color: $lightgrey;
        padding: $padding;
        white-space: nowrap;

        >form {
            display: inline-block;
        }

        select,
        input,
        button {
            margin-right: $margin;
        }

        input[type="number"] {
            width: 50px;
        }

        select {
            width: 250px;
        }
    }

    >div:nth-child(2) {
        display: grid;
        grid-template-columns: 365px 1fr;

        // toolbar
        >div:first-child {
            background-color: $grey;
            color: $white;
            padding: $padding;
            box-sizing: border-box;

            >ul {
                list-style: none;
                padding: 0px;

                >li {
                    height: 50px;
                    width: 50px;
                    display: inline-block;
                    margin-right: $margin;
                    background-size: cover;
                }
            }

            >h2 {
                margin: 0px 0px $margin 0px;
            }

            >h2:not(:first-child) {
                margin-top: $margin;
            }

            >input,
            >select {
                margin-right: $margin;
            }

            >select {
                width: 100px;
            }

            >input[type="number"] {
                width: 50px;
            }
        }

        // map
        >div:nth-child(2) {
            background-color: $lightergrey;
            overflow: scroll;

            >div {
                background-color: $lightergrey;
                display: grid;
                height: 750px;
                width: 750px;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);

                >div {
                    background-size: cover;
                    animation: deselect-tile 500ms;
                }

                >div:hover {
                    animation: select-tile 500ms
                }
            }
        }

        // zoom
        >ul {
            position: absolute;
            bottom: $margin;
            right: $margin;
            list-style: none;
            padding: 0px;
            text-align: center;
            background-color: $grey;
            padding: 0px 5px;
            color: $white;
            font-size: 1.25em;

            >li:nth-child(2) {
                font-size: 1.5em;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.Maps {}
}

@keyframes select-tile {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes deselect-tile {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}