@import './style.global.scss';

body {
  margin: 0px;
  padding: 0px;
  font-family: $ubuntu;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn {
  border: none;
  padding: 5px 15px;
  background-color: $blue;
  color: $white;
}

.dropdown {
  height: 25px;
}

.input {
  border: none;
  padding: 5px;
}

.danger {
  background-color: $red;
  color: $white;
}

.danger-text {
  color: $red;
}

.primary-text {
  color: $blue;
}