@import './style.global.scss';

body {
  margin: 0px;
  padding: 0px;
  font-family: $ubuntu;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  border: none;
  padding: 5px 15px;
  background-color: $blue;
  color: $white;
  text-decoration: none;
}

.dropdown {
  height: 25px;
}

.input,
.bordered-input {
  padding: 5px;
  border: none;
}

.bordered-input {
  border: solid thin $black;
}

.danger {
  background-color: $red;
  color: $white;
}

.danger-text {
  color: $red;
}

.primary-text {
  color: $blue;
}