@import './style.global.scss';

body {
  margin: 0px;
  padding: 0px;
  font-family: $ubuntu;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.5;
}

input[type="text"],
input[type="submit"],
input[type="password"] {
  width: 100%;
  max-width: 150px;
  display: block;
}