// colors
$black: #000;
$grey: #222222;
$red: #e61d1d;
$blue: #1d4ce6;
$lightblue: #6f90ec;
$lightgrey: #3b3b3b;
$lightergrey: #ccc;
$white: #FFF;

// sizes
$margin: 15px;
$padding: 15px;

// fonts
$ubuntu: 'Ubuntu', sans-serif;