// colors
$grey: #222222;
$white: #FFF;
$cornflower: #98D2EB;
$cyan: #E1F2FE;
$cerulean: #134074;
$prussian: #13315C;
$oxford: #0B2545;

// sizes
$margin: 15px;
$padding: 15px;

// fonts
$ubuntu: 'Ubuntu', sans-serif;